* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hide-mobile {
  display: none;
}

.hero {
  background-image: linear-gradient(
    to right,
    #ffebcd 0%,
    #ffb095 61%,
    #ff8b72 100%
  );

  padding: 4rem 2rem;
}

.hero__heading {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.hero__text {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-wrap: balance;
}

.hero__img--1 {
  width: 100%;
  aspect-ratio: 1/1;
}

.features {
  padding: 5rem 0;
}

.features > *:not(:last-child) {
  margin-bottom: 4rem;
}

.feature {
  padding: 0 2rem;
  text-align: center;
}

.feature__icon {
  margin-bottom: 1rem;
}

.feature__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.feature__text {
  font-size: 1.6rem;
}

@media only screen and (min-width: 48em) {
  .hero__copy {
    width: 80%;
  }

  .hero__heading {
    font-size: 7rem;
    margin-bottom: 4rem;
  }

  .hero__composition {
    display: flex;
    height: 27rem;
    width: 100%;
    transform: translateY(9rem);
    margin-top: -10rem;
  }

  .hero__composition--col-left {
    flex: 1.5;
    display: flex;
    gap: 3rem;
  }

  .hero__composition--col-right {
    flex: 1;
    align-items: flex-start;
  }

  .hide-mobile {
    display: block;
  }

  .hero__img--3 {
    width: 72.5%;
    aspect-ratio: 1/1;
    margin-left: 3rem;
  }

  .hero__img--1,
  .hero__img--2 {
    width: 47%;
    aspect-ratio: 1/1;
  }

  .hero__img--1 {
    align-self: flex-start;
  }

  .hero__img--2 {
    align-self: flex-end;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    text-align: left;
    flex: 1;
  }

  .feature:nth-child(1) {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 64em) {
  .hero {
    padding: 7rem 0;
  }

  .d-flex {
    margin-top: -15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__copy {
    margin-top: 20rem;
    width: 49%;
  }

  .hero__composition {
    width: 48%;
    height: auto;
    margin-top: 0;
    transform: translateY(14rem);
    gap: 5rem;
  }

  .hero__composition--col-left {
    flex: 1;
    flex-direction: column;
  }

  .hero__composition--col-right {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .hero__img--1,
  .hero__img--2,
  .hero__img--3 {
    width: 100%;
  }

  .hero__img--2 {
    align-self: unset;
  }

  .hero__img--3 {
    margin-left: 0;
  }

  .features {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .feature:nth-child(1) {
    flex-basis: 0;
  }
}
